<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sản phẩm</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
<div th:replace="~{fragments/general.html :: mainmenu}"></div>


<script data-th-src="@{/js/pages/produce/exec-category.js}" type="module"></script>
<script>
    function initMain() {
        const xmain = document.getElementById("main");
        xmain.innerHTML = "<newsky-category></newsky-category>";
    }
</script>


<!--<div data-th-replace="~{fragments/general.html :: bodyjs}"></div>-->
</body>
</html>
