<!doctype html>
<html lang="en">

<head data-th-fragment="headerfiles">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: "Raleway", sans-serif
        }

        .content {
          margin-top: 44px;
          /* Adjust this value according to your navbar height */
        }

        .divider {
          border-top: 1px solid #bbb;
          padding: 1px 0;
        }
    </style>
</head>

<body>
<div data-th-fragment="mainmenu">
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a class="w3-bar-item w3-button w3-wide" href="#home">LOGO</a>

            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Sản xuất <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a class="w3-bar-item w3-button" href="./produce/segment">Các công đoạn</a>
                    <a class="w3-bar-item w3-button" href="#">Định mức</a>
                    <a class="w3-bar-item w3-button" href="#">Kiểm tra khả năng đáp ứng</a>
                    <div class="divider"></div>
                    <a class="w3-bar-item w3-button" href="#">Lên lịch sản xuất</a>
                    <a class="w3-bar-item w3-button" href="#">Xem lịch chạy máy</a>
                    <div class="divider"></div>
                    <a class="w3-bar-item w3-button" href="#">Nhập kết quả sản xuất</a>
                    <a class="w3-bar-item w3-button" href="#">Chốt vật tư cuối ngày</a>
                    <a class="w3-bar-item w3-button" href="#">Kiểm soát hao hụt vật tư</a>
                    <div class="divider"></div>
                    <a class="w3-bar-item w3-button" href="#">Bù trừ nhập xuất theo quy định</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Sản phẩm <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a class="w3-bar-item w3-button" href="/produce/category"
                       target="_blank">Danh mục sản phẩm</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Nhân sự <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a class="w3-bar-item w3-button" href="/employee/department"
                       target="_blank">Phòng ban và nhân viên</a>
                </div>
            </div>
            <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" href="javascript:void(0)"
               onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
         id="mySidebar" style="display:none">
        <a class="w3-bar-item w3-button w3-large w3-padding-16" href="javascript:void(0)" onclick="w3_close()">Close
            ×</a>
        <a class="w3-bar-item w3-button" href="#about" onclick="w3_close()">ABOUT</a>
        <a class="w3-bar-item w3-button" href="#team" onclick="w3_close()">TEAM</a>
        <a class="w3-bar-item w3-button" href="#work" onclick="w3_close()">WORK</a>
        <a class="w3-bar-item w3-button" href="#pricing" onclick="w3_close()">PRICING</a>
        <a class="w3-bar-item w3-button" href="#contact" onclick="w3_close()">CONTACT</a>
    </nav>

    <!--    Model data binding-->
    <div class="w3-container content" id="main">
        <input data-th-value="${token}" id="token" type="hidden" value=""/>
        <input data-th-value="${machineList}" id="machineList" type="hidden" value=""/>
        <input data-th-value="${username}" id="username" type="hidden" value=""/>
        <input data-th-value="${sqlHost}" id="sqlHost" type="hidden" value=""/>

    </div>

    <!-- general script -->
    <script data-th-src="@{/js/core/nav-control.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
          window.token = document.getElementById("token").value;
          window.username = document.getElementById("username").value;
          window.sqlHost = document.getElementById("sqlHost").value;
          initMain();
        });
    </script>
</div>
<div data-th-fragment="bodyjs">
    <script data-th-src="@{/js/hook.js}"></script>

</div>
</body>

</html>