<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>
<body>
<div class="w3-container content">
    <div class="w3-row">
        <!--        <div class="row">-->
        <div class="w3-col m4"></div>
        <div class="w3-col m4 w3-display-middle">
            <form action="#" data-th-action="@{/user/login}" data-th-object="${UserDTO}" method="post">
                <div class="w3-row" style="padding-top: 10px">
                    <label for="exampleInputEmail1">User name</label>
                    <input class="w3-input" data-th-field="*{username}"
                           id="exampleInputEmail1"
                           type="text">
                </div>

                <div class="w3-row" style="padding-top: 10px">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="w3-input" data-th-field="*{password}" id="exampleInputPassword1"
                           type="password">
                </div>

                <div class="w3-row" style="padding-top: 10px">
                    <button class="w3-button w3-teal w3-round-xlarge w3-block" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="w3-col m4"></div>
        <!--        </div>-->
    </div>
</div>

<div data-th-replace="~{fragments/general.html :: bodyjs}"></div>
</body>
</html>