<!DOCTYPE HTML>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head data-th-insert="~{fragments/general.html :: headerfiles}">
    <title>Thymeleaf Fragments: home</title>

</head>

<body class="p-3">
    <div id="master" class="container">
        <div th:replace="~{fragments/general.html :: mainmenu}"></div>

        <h2 class="text-primary">Các công đoạn sản xuất</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>STT</td>
                    <td>Tên công đoạn</td>
                </tr>
            </thead>
            <tbody id="segmentTable">

            </tbody>
        </table>

        <script data-th-src="@{/js/segment/segment.js}"></script>

    </div>

    <div data-th-replace="~{fragments/general.html :: bodyjs}"></div>
</body>

</html>